## COMPOSE
COMPOSE_PROJECT_NAME=traefik

## pods
POD_NAME=traefik
POD_HOSTNAME=traefik
POD_IMAGE=zzci/traefik
TRAEFIK_NETWORK=traefik

## traefik config
ACME_DNS_API=api.demo-dns.io
ACME_EMAIL=acme@demo.io
ACME_DISABLE_CNAME=true
ACME_DNS_RESOLVERS=1.1.1.1:53,8.8.8.8:53

TRAEFIK_LOG=true
TRAEFIK_LOG_LEVEL=debug
TRAEFIK_ACCESS_LOG=false

## dashboard
TRAEFIK_DASHBOARD=traefik.demo.io
TRAEFIK_IPLIST='127.0.0.1/32, 192.168.1.7'
